pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.cpcache/
.cljs_node_repl
package-lock.json
node_modules
/out/
/cljs-test-runner-out/
.nrepl-port
.calva/
.clj-kondo/
.lsp/
/pkg/
/*.xml
/*.nml
.actsecrets