{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  camel-snake-kebab {:mvn/version "0.4.0"}
  cljs-node-io {:mvn/version "1.1.2"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "0.1.2"}
  org.clojure/tools.cli {:mvn/version "0.4.1"}
  metosin/spec-tools {:mvn/version "0.8.2"}
  com.cemerick/url {:mvn/version "0.1.1" :exclusions [com.cemerick/clojurescript.test]}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}
                              plumula/mimolette {:mvn/version "0.2.1"}}}
           :test {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.2.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :native-image {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
                          :main-opts ["-m" "cambada.native-image"
                                      "-m" "converter.cli"]}
           :compile-cljs {:main-opts ["-m" "cljs.main" "-co" "compile-opts.edn" "-c" "converter.cli"]}
           :nrepl-server {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                                       cider/piggieback {:mvn/version "0.4.0"}
                                       org.clojure/tools.namespace {:mvn/version "0.2.11"}}
                          :main-opts ["-m" "nrepl.cmdline"
                                      "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "1.6.0"}}
                      :main-opts ["-m" "depot.outdated.main"]}}
 ; workaround for https://github.com/luchiniatwork/cambada/issues/19
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}