{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  camel-snake-kebab {:mvn/version "0.4.0"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "0.1.2"}
  org.clojure/tools.cli {:mvn/version "0.4.1"}
  metosin/spec-tools {:mvn/version "0.8.2"}
  com.cemerick/url {:mvn/version "0.1.1" :exclusions [com.cemerick/clojurescript.test]}
  com.badlogicgames.packr/packr {:mvn/version "2.1-SNAPSHOT"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
                              org.clojure/test.check {:mvn/version "0.9.0"}
                              plumula/mimolette {:mvn/version "0.2.1"}}}
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.439"}
                               cljs-node-io {:mvn/version "1.1.2"}}}
           :test {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.2.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :uberjar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
                     :main-opts ["-m" "cambada.uberjar"
                                 "-m" "converter.cli"]}
           :packr {:extra-deps {com.badlogicgames.packr/packr {:mvn/version "2.1-SNAPSHOT"}}
                   :main-opts ["-m" "converter.packr"
                               "--platform" "linux64"
                               "--jdk" "/usr/lib/jvm/java-8-openjdk-amd64/"
                               "--executable" "dj-data-converter"
                               "--classpath" "target/dj-data-converter-1.0.0-SNAPSHOT-standalone.jar"
                               "--mainclass" "converter.cli"
                               "--output" "packr/linux64"]}
           :native-image {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
                          :main-opts ["-m" "cambada.native-image"
                                      "-m" "converter.cli"]}
           :compile-cljs {:main-opts ["-m" "cljs.main" "-co" "compile-opts.edn" "-c" "converter.cli"]}
           :nrepl-server {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}
                                       cider/piggieback {:mvn/version "0.3.9"}}
                          :main-opts ["-m" "nrepl.cmdline"
                                      "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}}
 ; workaround for https://github.com/luchiniatwork/cambada/issues/19
 :mvn/repos {"sonatype-snapshots" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}